{% extends "layout.html" %}

{% block body_block%}

<div class="index_container">

    <div class="index_header">
        <!-- page header content goes here -->
        [ HEADER CONTENT GOES HERE ]
    </div>

    <div class="collection_column">
        <!-- left-side column content goes here -->
        <div class="card_collection">
            Card collection goes here
        </div>

        <div class="card_collection">
            Card collection goes here
        </div>
    </div>

    <div class="index_main">
        <!-- page main content goes here -->
        [ MAIN PAGE CONTENT ]
    </div>

    <div class="index_footer">
        <!-- page footer content goes here -->
        [ FOOTER CONTENT GOES HERE ]
    </div>

</div>

{% endblock %}